In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('brisbane_water_quality.csv')

In [39]:
# Drop columns with quality information
df = df.drop(columns=['Dissolved Oxygen [quality]', 'Chlorophyll [quality]', 'Temperature [quality]',
                      'Dissolved Oxygen (%Saturation) [quality]', 'pH [quality]', 'Salinity [quality]',
                      'Specific Conductance [quality]', 'Turbidity [quality]', 'Record number'], errors='ignore')

In [40]:
df.shape

(30894, 11)

In [41]:
# Convert 'Timestamp' column to datetime 
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [42]:
df.head

<bound method NDFrame.head of                 Timestamp  Average Water Speed  Average Water Direction  \
0     2023-08-04 23:00:00                4.834                   73.484
1     2023-08-04 23:30:00                2.544                  106.424
2     2023-08-04 23:00:00                1.260                  156.755
3     2023-08-04 23:30:00                0.760                  281.754
4     2023-08-04 23:00:00                3.397                  244.637
...                   ...                  ...                      ...
30889 2024-06-27 08:20:00               13.314                   82.720
30890 2024-06-27 08:30:00               32.617                   18.081
30891 2024-06-27 08:40:00                8.552                  306.184
30892 2024-06-27 08:50:00               10.341                   24.711
30893 2024-06-27 09:00:00               11.173                  241.662

       Chlorophyll  Temperature  Dissolved Oxygen  \
0            1.621       20.018             7.472
1            1.959       19.986             7.455
2            1.620       20.001             7.430
3            1.761       19.983             7.419
4            1.635       19.986             7.429
...            ...          ...               ...
30889        0.944       18.607             6.876
30890        1.161       18.551             6.918
30891        1.192       18.558             6.651
30892        1.031       18.547             6.740
30893        0.946       18.562             5.842

       Dissolved Oxygen (%Saturation)     pH  Salinity  Specific Conductance  \
0                             101.175  8.176    35.215                53.262
1                             100.884  8.175    35.209                53.254
2                             100.571  8.171    35.207                53.252
3                             100.398  8.171    35.211                53.257
4                             100.538  8.171    35.208                53.253
...                               ...    ...       ...                   ...
30889                          87.556  8.151    29.268                45.134
30890                          87.987  8.163    29.254                45.115
30891                          84.606  8.145    29.250                45.110
30892                          85.713  8.154    29.247                45.105
30893                          74.326  8.116    29.258                45.121

       Turbidity
0          2.068
1          1.994
2          2.030
3          1.973
4          1.944
...          ...
30889      3.963
30890      3.928
30891      4.097
30892      4.962
30893      5.078

[30894 rows x 11 columns]>

In [43]:
df['Hour'] = df['Timestamp'].dt.hour
df['DayOfYear'] = df['Timestamp'].dt.dayofyear
df['Month'] = df['Timestamp'].dt.month

df.head()

,Timestamp,Average Water Speed,Average Water Direction,Chlorophyll,Temperature,Dissolved Oxygen,Dissolved Oxygen (%Saturation),pH,Salinity,Specific Conductance,Turbidity,Hour,DayOfYear,Month
0,2023-08-04 23:00:00,4.834,73.484,1.621,20.018,7.472,101.175,8.176,35.215,53.262,2.068,23,216,8
1,2023-08-04 23:30:00,2.544,106.424,1.959,19.986,7.455,100.884,8.175,35.209,53.254,1.994,23,216,8
2,2023-08-04 23:00:00,1.260,156.755,1.620,20.001,7.430,100.571,8.171,35.207,53.252,2.030,23,216,8
3,2023-08-04 23:30:00,0.760,281.754,1.761,19.983,7.419,100.398,8.171,35.211,53.257,1.973,23,216,8
4,2023-08-04 23:00:00,3.397,244.637,1.635,19.986,7.429,100.538,8.171,35.208,53.253,1.944,23,216,8

In [44]:
duplicate_timestamps = df[df.duplicated(subset=['Timestamp'], keep=False)]
if not duplicate_timestamps.empty:
    print("Duplicate timestamps exist:")
    print(duplicate_timestamps)
else:
    print("No duplicate timestamps found.")

Duplicate timestamps exist:
                Timestamp  Average Water Speed  Average Water Direction  \
0     2023-08-04 23:00:00                4.834                   73.484
1     2023-08-04 23:30:00                2.544                  106.424
2     2023-08-04 23:00:00                1.260                  156.755
3     2023-08-04 23:30:00                0.760                  281.754
4     2023-08-04 23:00:00                3.397                  244.637
...                   ...                  ...                      ...
30459 2024-06-24 09:00:00               23.286                  102.621
30603 2024-06-25 09:00:00                5.070                   29.750
30604 2024-06-25 09:00:00                5.070                   29.750
30748 2024-06-26 09:00:00               42.538                  212.200
30749 2024-06-26 09:00:00               42.538                  212.200

       Chlorophyll  Temperature  Dissolved Oxygen  \
0            1.621       20.018             7.472
1            1.959       19.986             7.455
2            1.620       20.001             7.430
3            1.761       19.983             7.419
4            1.635       19.986             7.429
...            ...          ...               ...
30459        1.038          NaN             7.343
30603        1.214          NaN             7.465
30604        1.214          NaN             7.465
30748        1.328       17.848             7.160
30749        1.328       17.848             7.160

       Dissolved Oxygen (%Saturation)     pH  Salinity  Specific Conductance  \
0                             101.175  8.176    35.215                53.262
1                             100.884  8.175    35.209                53.254
2                             100.571  8.171    35.207                53.252
3                             100.398  8.171    35.211                53.257
4                             100.538  8.171    35.208                53.253
...                               ...    ...       ...                   ...
30459                          89.449  8.196    29.491                45.464
30603                          92.065  8.176    29.196                45.044
30604                          92.065  8.176    29.196                45.044
30748                          89.824  8.157    29.213                45.061
30749                          89.824  8.157    29.213                45.061

       Turbidity  Hour  DayOfYear  Month
0          2.068    23        216      8
1          1.994    23        216      8
2          2.030    23        216      8
3          1.973    23        216      8
4          1.944    23        216      8
...          ...   ...        ...    ...
30459      2.940     9        176      6
30603      2.619     9        177      6
30604      2.619     9        177      6
30748      3.674     9        178      6
30749      3.674     9        178      6

[557 rows x 14 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30894 entries, 0 to 30893
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Timestamp                       30894 non-null  datetime64[ns]
 1   Average Water Speed             30874 non-null  float64
 2   Average Water Direction         30893 non-null  float64
 3   Chlorophyll                     30309 non-null  float64
 4   Temperature                     25730 non-null  float64
 5   Dissolved Oxygen                26594 non-null  float64
 6   Dissolved Oxygen (%Saturation)  25145 non-null  float64
 7   pH                              29810 non-null  float64
 8   Salinity                        26936 non-null  float64
 9   Specific Conductance            29527 non-null  float64
 10  Turbidity                       28894 non-null  float64
 11  Hour                            30894 non-null  int32
 12  DayOfYear                       30894 non-null  int32
 13  Month                           30894 non-null  int32
dtypes: datetime64[ns](1), float64(10), int32(3)
memory usage: 2.9 MB

In [46]:
# Remove duplicate timestamps by averaging values for duplicate timestamps
df.set_index('Timestamp', inplace=True)
df = df.groupby(df.index).mean()

df.shape

(30614, 13)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30614 entries, 2023-08-04 23:00:00 to 2024-06-27 09:00:00
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Average Water Speed             30594 non-null  float64
 1   Average Water Direction         30613 non-null  float64
 2   Chlorophyll                     30041 non-null  float64
 3   Temperature                     25491 non-null  float64
 4   Dissolved Oxygen                26370 non-null  float64
 5   Dissolved Oxygen (%Saturation)  24938 non-null  float64
 6   pH                              29546 non-null  float64
 7   Salinity                        26705 non-null  float64
 8   Specific Conductance            29266 non-null  float64
 9   Turbidity                       28654 non-null  float64
 10  Hour                            30614 non-null  float64
 11  DayOfYear                       30614 non-null  float64
 12  Month                           30614 non-null  float64
dtypes: float64(13)
memory usage: 3.3 MB

In [48]:
# Check for negative values in each column
negative_counts = (df < 0).sum()

print("Columns with negative values:")
print(negative_counts)

Columns with negative values:
Average Water Speed               0
Average Water Direction           0
Chlorophyll                       0
Temperature                       0
Dissolved Oxygen                  0
Dissolved Oxygen (%Saturation)    0
pH                                0
Salinity                          0
Specific Conductance              0
Turbidity                         0
Hour                              0
DayOfYear                         0
Month                             0
dtype: int64

In [49]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median') 

# Fit the imputer on the DataFrame's numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

# Check for missing values after imputation
df.isnull().sum()

Average Water Speed               0
Average Water Direction           0
Chlorophyll                       0
Temperature                       0
Dissolved Oxygen                  0
Dissolved Oxygen (%Saturation)    0
pH                                0
Salinity                          0
Specific Conductance              0
Turbidity                         0
Hour                              0
DayOfYear                         0
Month                             0
dtype: int64

In [50]:
from scipy import stats  # Import the stats module from scipy

def remove_outliers_zscore(df, threshold=3):
    df_no_outliers = df.copy()
    columns_to_exclude = ['Hour', 'DayOfYear', 'Month']  # Columns to exclude from outlier removal

    for col in df.select_dtypes(include=np.number):
        if col not in columns_to_exclude:  # Check if the column should be processed
            z_scores = np.abs(stats.zscore(df[col]))
            df_no_outliers = df_no_outliers[z_scores < threshold]

    return df_no_outliers

# Example usage
df = remove_outliers_zscore(df)
df.shape

/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]
/var/folders/1n/ylr_6rmd60dg7hjwyhs4rpfr0000gn/T/ipykernel_3007/2646819493.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_no_outliers = df_no_outliers[z_scores < threshold]

(28502, 13)

In [51]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Create an instance of StandardScaler
scaler = StandardScaler()

# Scale the data and convert back to DataFrame
scaled_data = scaler.fit_transform(df)
df = pd.DataFrame(scaled_data, columns=df.columns, index=df.index)

# Now you can use DataFrame methods
df.head()

,Average Water Speed,Average Water Direction,Chlorophyll,Temperature,Dissolved Oxygen,Dissolved Oxygen (%Saturation),pH,Salinity,Specific Conductance,Turbidity,Hour,DayOfYear,Month
Timestamp,,,,,,,,,,,,,
2023-08-04 23:00:00,-1.120456,-0.323561,-0.603827,-1.428923,1.178197,0.603918,1.201306,1.409796,1.122769,-0.669970,1.664538,0.484837,0.592563
2023-08-04 23:30:00,-1.075374,-0.006426,-0.453122,-1.437394,1.170822,0.588776,1.189980,1.411576,1.124315,-0.704747,1.664538,0.484837,0.592563
2023-08-05 00:00:00,-0.585918,-1.208621,-0.768132,-1.472007,1.213500,0.607401,1.088043,1.427221,1.137813,-0.674244,-1.659720,0.493278,0.592563
2023-08-05 00:30:00,-1.102803,-0.812174,-0.774458,-1.477637,1.189023,0.577398,1.167327,1.427922,1.138266,-0.693350,-1.659720,0.493278,0.592563
2023-08-05 01:00:00,-0.526051,-1.198428,-0.732709,-1.488271,1.204086,0.584133,1.189980,1.431425,1.141433,-0.704412,-1.515187,0.493278,0.592563

In [52]:
from sklearn.decomposition import PCA
import pandas as pd
# Perform PCA
pca = PCA(n_components=0.95)
df = pca.fit_transform(df)
df = pd.DataFrame(df)  # Use the original column names
df.shape

(28502, 9)

In [53]:
# Specify the file path and name
name = 'preprocessed_water_quality.csv'  

# Save the DataFrame to a CSV file
df.to_csv(name, index=True)  

print(f"DataFrame successfully saved to {name}")

DataFrame successfully saved to preprocessed_water_quality.csv